<div class="code-input">
  <div class="input-header">
    <h4>{{label.codigoJava}}</h4>
    <div>
      <button pButton label={{label.limpiar}} severity="secondary" size="small" class="mr-2"
        (click)="limpiarFormulario()"></button>
      <button pButton label={{label.cargarEjemplo}} icon="pi pi-code" severity="help" size="small" (click)="cargarEjemplo()" class="mr-2">
            </button>
      <button pButton icon="pi pi-play" label={{label.ordenarCodigo}} size="small" [disabled]="!code" (click)="organizarCodigo()">
      </button>
    </div>
  </div>

  <textarea pInputTextarea [(ngModel)]="code" [rows]="15" placeholder={{message.mensajeInstruccionesPegado}} class="w-full">
  </textarea>
</div>