<div class="json-node" [style.margin-left.px]="node.level ? node.level * 20 : 0">
  
  <div class="node-line" 
       [class.expandable]="node.type === 'object' || node.type === 'array'"
       (click)="toggleNode()">
    
    <!-- Ícono para objetos/arrays -->
    <span class="toggle-icon" *ngIf="node.type === 'object' || node.type === 'array'">
      <i class="pi" 
         [class.pi-chevron-right]="!node.expanded" 
         [class.pi-chevron-down]="node.expanded">
      </i>
    </span>
    
    <!-- Clave -->
    <span class="node-key" *ngIf="node.key !== ''">
      {{ node.key }}:
    </span>
    
    <!-- Valor -->
    <span class="node-value" [class]="node.type + '-value'">
      <ng-container [ngSwitch]="node.type">
        <span *ngSwitchCase="'string'">"{{ node.value }}"</span>
        <span *ngSwitchCase="'number'">{{ node.value }}</span>
        <span *ngSwitchCase="'boolean'">{{ node.value }}</span>
        <span *ngSwitchCase="'null'">null</span>
        <span *ngSwitchCase="'object'">
          {{ node.expanded ? '{' : '{...}' }}
        </span>
        <span *ngSwitchCase="'array'">
          {{ node.expanded ? '[' : '[...]' }}
        </span>
      </ng-container>
    </span>
    
  </div>
  
  <!-- Hijos -->
  <div class="node-children" *ngIf="node.expanded && node.children">
    <app-json-node 
      *ngFor="let child of node.children"
      [node]="child"
      (toggle)="onChildToggle(child)">
    </app-json-node>
  </div>
  
</div>